<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Xbox Comp</title>
    </head>
    <body style="background-image:url(images/hero_bg.jpg); background-color:#FFFFFF;background-repeat:no-repeat;">
        <a href="https://github.com/pzelnip/XboxGamerComparison"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <form action="/" method="POST">
        <label for="gamertag1">Gamer 1:</label>
        <br>
        <input type="text" id="gamertag1" name="gamertag1" style="width: 500px">
        <br>
        <label for="gamertag2">Gamer 2:</label>
        <br>
        <input type="text" id="gamertag2" name="gamertag2" style="width: 500px">
        <br>
        <input type="submit" value="Submit">
    </form>

    <h1>Games Played by {{ gamer1 }} ({{gamer1score}} GS) but not by {{ gamer2 }} ({{gamer2score}} GS) - ({{gamer1notgamer2count}} Games)</h1>
    {% for game in gamer1notgamer2 %}
    <div>
    <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}">{{ game.Title }}</a> - {{ game.EarnedGamerScore }} GS / {{ game.PossibleGamerScore }} GS - {{ game.EarnedAchievements }} / {{ game.PossibleAchievements }}
    </div>
    {% endfor %}
    <h1>Games Played by {{ gamer2 }} ({{gamer2score}} GS) but not by {{ gamer1 }} ({{gamer1score}} GS) - ({{gamer2notgamer1count}} Games)</h1>
    {% for game in gamer2notgamer1 %}
    <div>
    <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}">{{ game.Title }}</a> - {{ game.EarnedGamerScore }} GS / {{ game.PossibleGamerScore }} GS - {{ game.EarnedAchievements }} / {{ game.PossibleAchievements }}
    </div>
    {% endfor %}
    <h1>Games Played by Both {{ gamer1 }} And {{ gamer2 }} ({{bothcount}} Games)</h1>
    {% for game in gamesboth %}
    <div>
        <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}">{{ game.Title }}</a> 
    </div>
    {% endfor %}

    <hr>

    <div>Built using <a href="http://www.xboxleaders.com/docs/api/">XboxLeaders API</a> and <a href="https://developers.google.com/appengine/">Google App Engine</a>
    </body>
</html>
