<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Xbox Comp</title>

<!-- taken from: http://www.alessioatzeni.com/blog/simple-tooltip-with-jquery-only-text/ -->
<style type="text/css">
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}
</style>
<script type="text/javascript" src="scripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
        // Tooltip only Text
        $('.masterTooltip').hover(function(){
                // Hover over code
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $('<p class="tooltip"></p>')
                .text(title)
                .appendTo('body')
                .fadeIn('slow');
        }, function() {
                // Hover out code
                $(this).attr('title', $(this).data('tipText'));
                $('.tooltip').remove();
        }).mousemove(function(e) {
                var mousex = e.pageX + 20; //Get X coordinates
                var mousey = e.pageY + 10; //Get Y coordinates
                $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
});
</script>

    </head>
    <body style="background-image:url(images/hero_bg.jpg); background-color:#FFFFFF;background-repeat:no-repeat;">

    <a href="https://github.com/pzelnip/XboxGamerComparison"><img style="position: absolute; top: 0; right: 0; border: 0;" 
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <form action="/" method="POST">
        <label for="gamertag1">Gamer 1:</label>
        <br>
        <input type="text" id="gamertag1" name="gamertag1" style="width: 500px">
        <br>
        <label for="gamertag2">Gamer 2:</label>
        <br>
        <input type="text" id="gamertag2" name="gamertag2" style="width: 500px">
        <br>
        <input type="submit" value="Submit">
    </form>

    <h1>Games Played by {{ gamer1 }} ({{gamer1score}} GS) but not by {{ gamer2 }} ({{gamer2score}} GS) - ({{gamer1notgamer2count}} Games)</h1>
    <div>
    {% for game in gamer1notgamer2 %}
    <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}" class="masterTooltip" 
        title="{{ game.Title }} {{ game.EarnedGamerScore }} GS / {{ game.PossibleGamerScore }} GS - {{ game.EarnedAchievements }} / {{ game.PossibleAchievements }} achievements"></a> 
    {% endfor %}
    </div>

    <h1>Games Played by {{ gamer2 }} ({{gamer2score}} GS) but not by {{ gamer1 }} ({{gamer1score}} GS) - ({{gamer2notgamer1count}} Games)</h1>
    <div>
    {% for game in gamer2notgamer1 %}
    <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}" class="masterTooltip" 
        title="{{ game.Title }} {{ game.EarnedGamerScore }} GS / {{ game.PossibleGamerScore }} GS - {{ game.EarnedAchievements }} / {{ game.PossibleAchievements }} achievements"></a> 
    {% endfor %}
    </div>

    <h1>Games Played by Both {{ gamer1 }} And {{ gamer2 }} ({{bothcount}} Games)</h1>
    <div>
    {% for game in gamesboth %}
        <a href="{{ game.Url }}"><img src="{{ game.BoxArt }}" width="85" height="120" alt="{{ game.Title }}" class="masterTooltip" title="{{ game.Title}}"></a> 
    {% endfor %}
    </div>

    <hr>

    <div>Built using <a href="http://www.xboxleaders.com/docs/api/">XboxLeaders API</a> and 
        <a href="https://developers.google.com/appengine/"><img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>
    </body>
</html>
